build.properties
.idea

# ignore all .iml files in the directory hierarchy, except those
# already under version control
**/*.iml 

# ignore all directories named 'target/", regardless of where they are
# in the directory hierarchy.
target/
