.breadcrumb {
  background-color: transparent;
  border: none;
  box-shadow: none;
  background-image: none;
  padding: 0 15px 15px 0;
  margin: 0px 0 10px;

  li, li a {
    color: $taupe-darker;
    background-color: inherit;
    font-style: normal;
    font-weight: normal;
    text-shadow: none;
  }
}

.breadcrumb li a {
  box-shadow: inset 0 -1px 0px lighten($taupe-light, 5%);

  &:hover {
    text-decoration: none;
    box-shadow: inset 0 -1px 0px lighten($taupe-dark, 1%);
  }
}

.breadcrumb > li + li:before {
  padding: 0 5px;
  color: lighten($taupe-light, 1%);
  content: ">";
}

.homepage ol.breadcrumb {
  display: none;
}